@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea, select{
  @apply border-2 border-slate-400 rounded-md;
}
  
input:focus, textarea:focus, select:focus{
  @apply border-lime-800;
}

button, button[type="submit"] {
  background-color: #d40d9a;
}

button[type="button"] {
  @apply bg-red-500;
}

button:hover{
  background-color: #a00a7c;
}